body{
    background-color: rgba(75, 101, 132,1.0);
    color: rgba(209, 216, 224,1.0);
}
h1{
    color: rgba(247, 183, 49,1.0);
}
h2{
    color: rgba(250, 130, 49,1.0);
}
h3{
    color: rgba(252, 92, 101,1.0);
}